{% extends 'base.html' %}

{% block title %}Home page{% endblock %}

{% block body %}
    <p class="display-4" align="center">You are welcome!</p>
    <section class="ml-2">
        <p class="display-4">
            Go to <a class="text-decoration-none" href="users">Users</a> to start using this project.
            Just select one of the existing users or add new ones.<br>
            All information is presented in tabular form.<br>
            Links to the <a class="text-decoration-none" href="https://music.yandex.ru">Yandex.Music</a> site are also provided.
        </p>
    </section>
{% endblock %}