{% extends 'base.html' %}

{% block title %}{{ artist.name }}{% endblock %}

{% block body %}
    <p class="display-4">
        <a class="text-decoration-none" href="https://music.yandex.ru/artist/{{ artist.id }}" target="_blank">{{ artist.name }}</a>
    </p>

    <section class="mb-2">
    {% for genre in genres %}
        {% if genre %}
        <div class="badge badge-success text-wrap p-2" style="font-size: 1em">
            {{ session["meta_tags"][genre]["fullTitle"] }}
        </div>
        {% endif %}
    {% endfor %}
    </section>

    <table class="table table-hover" id="tracksTable">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Artists</th>
            <th scope="col">Year</th>
            <th scope="col">Genre</th>
            <th scope="col">Duration</th>
            <th scope="col">In playlists</th>
        </tr>
        </thead>
        <tbody>
        {% for track in tracks %}
        <tr>
            <td><a class="text-decoration-none" href="https://music.yandex.ru/track/{{ track.id }}" target="_blank">{{ track.title }}</a></td>
            <td>
            {% for artist_ in track.artists %}
            {% if artist_.id == artist.id %}
                <a class="text-decoration-none mr-2" href="#">{{ artist.name }}</a>
            {% else %}
                <a class="text-decoration-none mr-2" href="{{ url_for('users.artist_page', user_id=user_id, artist_id=artist_.id) }}">{{ artist_.name }}</a>
            {% endif %}
            {% endfor %}
            </td>
            <td>
            {% if track.year %}
                {{ track.year }}
            {% endif %}
            </td>
            <td>
            {% if track.genre %}
                {{ session["meta_tags"][track.genre]["fullTitle"] }}
            {% endif %}
            </td>
            <td>{{ track.duration }}</td>
            <td>
            {% for playlist in track.playlists %}
            {% if playlist.user_id == user_id %}
                <a class="text-decoration-none" href="{{ url_for('users.playlist_page', user_id=user_id, playlist_id=playlist.id) }}">{{ playlist.title }}</a>
            {% endif %}
            {% endfor %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        $(document).ready( function () {
            $('#tracksTable').DataTable( {
                "order": [[1, "asc"], [0, "asc"]]
            } );
        } );
    </script>
{% endblock %}