{% extends 'base.html' %}

{% block title %}{{ genre }} | {{ playlist_title }}{% endblock %}

{% block body %}
    <section class="display-4 mb-2">
        <a class="text-decoration-none" href="https://music.yandex.ru/genre/{{ genre }}" target="_blank">{{ genre }}</a>
        tracks in the playlist
        <a class="text-decoration-none" href="{{ url_for('users.playlist_page', user_id=user_id, playlist_id=playlist_id) }}">{{ playlist_title }}</a>
        <a class="text-decoration-none" href="https://music.yandex.ru/users/{{ login }}/playlists/{{ playlist_id }}"
           target="_blank" style="vertical-align: text-bottom; display: inline-flex">
            <img class="align-self-center" src="/static/ya_music.png" style="width: 64px; height: 64px">
        </a>
    </section>

    <table class="table table-hover" id="tracksTable">
        <thead>
        <tr>
            <th scope="col" style="width: 25%">Title</th>
            <th scope="col" style="width: 57%">Artists</th>
            <th scope="col" style="width: 8%">Year</th>
            <th scope="col" style="width: 10%">Duration</th>
        </tr>
        </thead>
        <tbody>
        {% for track in tracks %}
        <tr>
            <td><a class="text-decoration-none" href="https://music.yandex.ru/track/{{ track.id }}" target="_blank">{{ track.title }}</a></td>
            <td>
            {% for artist in track.artists %}
                <a class="text-decoration-none mr-2" href="{{ url_for('users.artist_page', user_id=user_id, artist_id=artist.id) }}">{{ artist.name }}</a>
            {% endfor %}
            </td>
            <td>
            {% if track.year %}
                <a class="text-decoration-none" href="{{ url_for('users.year_tracks', user_id=user_id, playlist_id=playlist_id, year=track.year) }}">{{ track.year }}</a>
            {% endif %}
            </td>
            <td>{{ track.duration }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        $(document).ready( function () {
            $('#tracksTable').DataTable( {
                "order": [[1, "asc"], [0, "asc"]]
            } );
        } );
    </script>
{% endblock %}