{% extends 'base.html' %}

{% block title %}Genres | {{ playlist_title }}{% endblock %}

{% block body %}
    <section class="display-4 mb-2">
        Genres in the playlist
        <a href="{{ url_for('users.playlist_page', user_id=user_id, playlist_id=playlist_id) }}">{{ playlist_title }}</a>
        <a class="ya-icon" href="https://music.yandex.ru/users/{{ login }}/playlists/{{ playlist_id }}" target="_blank">
            <img src="{{ url_for('static', filename='images/ya_music.png') }}">
        </a>
    </section>

    <table class="table table-hover" id="genresTable">
        <thead>
        <tr>
            <th scope="col" class="tracks-count">Tracks count</th>
            <th scope="col">Genre</th>
            <th scope="col" class="ya-url">Yandex</th>
        </tr>
        </thead>
        <tbody>
        {% for count in counter %}
        <tr>
            <td>{{ count[0] }}</td>
            <td>
                <a class="mr-2" href="{{ url_for('users.genre_tracks', user_id=user_id, playlist_id=playlist_id, genre=count[1]) }}">{{ session["meta_tags"][count[1]]["fullTitle"] }}</a>
            </td>
            <td class="yandex">
                <a href="https://music.yandex.ru/genre/{{ session['meta_tags'][count[1]]['id'] }}" target="_blank">
                    <img class="x32" src="{{ url_for('static', filename='images/ya_music.png') }}">
                </a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        $(document).ready( function () {
            $('#genresTable').DataTable( {
                "order": [[0, "desc"], [1, "asc"]]
            } );
        } );
    </script>
{% endblock %}