{% extends 'base.html' %}

{% block title %}{{ user.name }}{% endblock %}

{% block modal %}
    <div class="modal fade" id="deleteModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" align="center">
                    <h5 class="modal-title mx-auto">Are you sure?</h5>
                </div>
                <div class="modal-body" align="center">
                    <p>All the user data will be deleted!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary flex-fill" data-dismiss="modal">No</button>
                    <a class="btn btn-danger flex-fill" href="{{ url_for('users.user_delete', user_id=user.id) }}">Yes</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <section class="user-info p-2 mb-2">
        <p class="display-4">
            <a href="https://music.yandex.ru/users/{{ user.login }}" target="_blank">{{ user.name }}</a>
        </p>
        <a class="btn btn-outline-primary" href="{{ url_for('users.user_update', user_id=user.id) }}">Update data</a>
        <button class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal">Delete data</button>
    </section>

    <table class="table table-hover" id="playlistsTable">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Tracks count</th>
            <th scope="col">Duration</th>
            <th scope="col">Created (UTC +0000)</th>
            <th scope="col">Modified (UTC +0000)</th>
            <th scope="col" class="ya-url">Yandex</th>
        </tr>
        </thead>
        <tbody>
        {% for playlist in user.playlists %}
            <tr>
                <td>
                    <a href="{{ url_for('users.playlist_page', user_id=user.id, playlist_id=playlist.id) }}">{{ playlist.title }}</a>
                </td>
                <td>{{ playlist.tracks_count }}</td>
                <td>{{ playlist.duration }}</td>
                <td>
                {% if playlist.created %}
                    {{ playlist.created }}
                {% endif %}
                </td>
                <td>
                {% if playlist.modified %}
                    {{ playlist.modified }}
                {% endif %}
                </td>
                <td class="yandex">
                    <a href="https://music.yandex.ru/users/{{ login }}/playlists/{{ playlist.id }}" target="_blank">
                        <img class="x32" src="{{ url_for('static', filename='images/ya_music.png') }}">
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        $(document).ready( function () {
            $('#playlistsTable').DataTable( {
                "order": [[0, "asc"]]
            } );
        } );
    </script>
{% endblock %}